.page-home {
  padding: 0 16px;

  &__content {
    max-width: 992px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0 80px;
  }

  &__title {
    text-align: center;
    font-size: 48px;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: hsl(0, 0%, 80%);
  }

  &__control-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
  }
}
